@import 'tailwindcss';
/* 
| Role          | Color                    | Hex Code  | Usage                            |
| ------------- | ------------------------ | --------- | -------------------------------- |
| **Primary**   | Soft Emerald Green       | `#2E8B57` | Buttons, links, accents          |
| **Secondary** | Muted Blue-Gray          | `#4B6A88` | Cards, tabs, sidebar backgrounds |
| **Accent**    | Warm Gold (trust, money) | `#FFD166` | Progress bars, highlights        |
| **Neutral 1** | Light Cool Gray          | `#F5F7FA` | Backgrounds                      |
| **Neutral 2** | Charcoal                 | `#1F2933` | Text, titles                     |
| **Alert**     | Rich Red (for flags)     | `#D9534F` | Warnings, flagged transactions   |
| **Success**   | Green Tint               | `#A4DE02` | Confirmation, approved use       | 
*/

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  /* background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif; */
  font-weight: 200;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 200;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
